@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

header {
	display: flex;
	justify-content: center;
}

.container__left {
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.entry {
	border: solid black 1px;
	margin-top: 1em;
	margin-bottom: 1em;
}
#moodDropdown {
	width: 200px;
}

#saveEntry, #editEntry, #deleteEntry {
	width: 100px;
} 